@font-face {
  font-family: josefinsans;
  src: url("./fonts/JosefinSans-Thin.ttf");
}

@font-face {
  font-family: Dancingscripts;
  src: url("./fonts/DancingScript-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-dark-gey);
}

::-webkit-scrollbar {
  background-color: var(--color-gold);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 15px;
}

:root {
  --font-josefinsans: "josefinsans";
  --font-dancingscripts: "Dancingscripts";
  --color-gold: #d3ab55;
  --color-black: #000;
  --color-dark-gey: #222;
}
